doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    each u in dati
        h1
            a(href=`/unit/${u.Unit}`) #{u.Unit}
            br
            img(src=`/images/${u.Unit}.png`)
    block content
